<nav class="navbar">
    <div class="nav-btn nav-btn-home">
        <span class="fa fa-home"></span>
    </div>
    <div class="nav-btn nav-btn-search">
        <span class="fa fa-search"></span>
    </div>
    <div class="nav-btn nav-btn-camera">
        <span class="fa fa-camera-retro"></span>
        <div class="camera-options navbar close">
            <div class="nav-btn camera-btn-take">
                <span class="fa fa-camera"></span><p>拍照</p>
            </div>
            <div class="nav-btn camera-btn-add">
                <span class="fa fa-plus"></span><p>相册</p>
            </div>
            <div class="nav-btn camera-btn-close">
                <span class="fa fa-times"></span><p>关闭</p>
            </div>
        </div>
    </div>
    <div class="nav-btn nav-btn-explore">
        <span class="fa fa-reorder"></span>
    </div>
    <div class="nav-btn nav-btn-profile">
        <span class="fa fa-user"></span>
    </div>
</nav>
