<div class="view view-hidden" id="view-card-detail">
	<section class="wrapper">
		<div class="scroll iscroll">
			<div class="scroll-inner">
			    <header>
                    <img class="avatar">
                    <img class="theme">
                    <h1 class="title"></h1>
                    <p class="place-name"></p>
                </header>
			    <section class="detail">
			        <div class="time">
			            <span class="fa fa-calendar"></span>
			            <span class="time-text"></span>
			        </div>
			        <div class="description"><p></p></div>
			    </section>
			    <section class="place">
                    <img class="map" src="assets/img/map-ex.jpg">
                    <div class="place-detail">
                        <p class="address flexible"></p>
                        <p class="distance"></p>
                    </div>
                </section>
			    <section class="photos"></section>
			</div>
		</div>
		<section class="chat-panel">
            <header><h1></h1><p><small>点击关闭</small></p></header>
            <div class="chat-content"></div>
        </section>
        <section class="attendees">
            <div class="attendee-item"></div>
        </section>
	</section>
	<nav class="navbar">
        <div class="nav-btn nav-btn-confirm">
            <span class="fa fa-check"></span>
            <p>参加</p>
        </div>
        <div class="nav-btn nav-btn-maybe">
            <span class="fa fa-meh-o"></span>
            <p>思考中</p>
        </div>
        <div class="nav-btn nav-btn-decline">
            <span class="fa fa-times"></span>
            <p>不参加</p>
        </div>
    </nav>
</div>
