<div class="view view-hidden" id="view-search">
    <nav class="navbar">
        <div class="nav-btn nav-btn-left">
            <span class="fa fa-arrow-left"></span>
        </div>
        <div class="navbar-text">
            <p>推荐活动 <span class="fa fa-chevron-down"></span></p>
        </div>
        <div class="nav-btn nav-btn-right">
            <span class="fa fa-search"></span>
        </div>
        <div class="filter-panel closed"></div>
    </nav>
	<section class="wrapper">
		<div class="scroll iscroll">
			<div class="scroll-inner">
				<div class="card-list"></div>
			</div>
		</div>
	</section>
</div>
