<div class="view view-hidden" id="view-home">
	<section class="wrapper">
		<div class="scroll iscroll">
			<div class="scroll-inner"></div>
		</div>
	</section>
	<nav class="navbar">
        <div class="nav-btn nav-btn-search">
            <span class="fa fa-search"></span>
        </div>
        <div class="navbar-text nav-btn-year">年</div>
        <div class="navbar-text nav-btn-month">月</div>
        <div class="navbar-text nav-btn-week">周</div>
        <div class="navbar-text nav-btn-day">日</div>
        <div class="nav-btn nav-btn-profile">
            <span class="fa fa-user"></span>
        </div>
    </nav>
</div>
