<div class="view view-hidden" id="view-profile">
	<section class="wrapper">
		<div class="scroll iscroll">
			<div class="scroll-inner">
				<section class="summary">
				    <div class="avatar-username">
				        <img class="avatar" src="assets/img/avatars/0.jpg">
				        <h1>鬼骨孖</h1>
				    </div>
				    <div class="navbar">
				        <div class="nav-btn" data-tab="#profile-story-pane">
                            <strong>157</strong>
                            <p>故事</p>
                        </div>
                        <div class="nav-btn" data-tab="#profile-badge-pane">
                            <strong>9</strong>
                            <p>勋章</p>
                        </div>
                        <div class="nav-btn" data-tab="#profile-coupon-pane">
                            <strong>5</strong>
                            <p>优惠券</p>
                        </div>
				    </div>
				</section>
				<section class="tab-content">
				    <div class="tab-pane active" id="profile-story-pane"></div>
				    <div class="tab-pane" id="profile-badge-pane"></div>
				    <div class="tab-pane" id="profile-coupon-pane"></div>
				</section>
			</div>
		</div>
	</section>
	include "global-navbar.html"
</div>
