<img class="img-circle" src="{{{avatar}}}"/>
<div class="flexible">
    <h1>{{ title }}</h1>
    <p>{{ time.from }}</p>
    <p>{{ place.name }}</p>
</div>
<div data-type="{{ type }}" class="type-indicator"></div>
