#view-search {
    .type-indicator {
        width: 20px;
        height: 100%;
        @extend %type-indicator;
    }
    .filter-panel {
        position: absolute;
        width: 100%;
        padding: 10px;
        top: $navbarHeight - 1px;
        left: 0;
        z-index: 9999;
        background-color: rgba($grayLighter, 0.95);
        @include transition(all .35s ease-in-out);
        &.closed {
            visibility: hidden;
            opacity: 0;
        }
        @include clearfix();
        .filter-item {
            text-align: center;
            float: left;
            width: 30%;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-right: 5%;
            &:nth-child(3n) { margin-right: 0; }
            > span {
                @extend %type-indicator;
                color: white;
                @include square(60px);
                @include border-radius(50%);
                font-size: 25px;
                line-height: 60px;
                margin-bottom: 5px;
            }
            > p {
                font-size: 14px;
                color: $textColor;
            }
        }
    }
}

#view-card-detail {
    > .navbar {
        height: 60px;
    }
    .scroll-inner > header {
        width: 100%;
        height: 170px;
        color: $white;
        @include flex-box($orient: vertical);
        position: relative;
        z-index: 0;
        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
        }
        .theme {
            z-index: -2;
            position: absolute;
            top: 0;
            left: 0;
            @include square(100%);
            -webkit-filter: blur(3px);
        }
        .avatar {
            @include square(70px);
            @include border-radius(50%);
            margin-bottom: 10px;
        }
        .place-name {
            font-size: $fontSizeSmall;
        }
    }
    .detail {
        width: 100%;
        background-color: $white;
        margin: 20px 0;
        .time {
            line-height: 50px;
            height: 50px;
            padding: 0 20px;
            border-top: 1px solid $grayLighter;
            .fa {
                font-size: 20px;
                margin: 0 10px;
                color: $grayLight;
            }
            @include text-overflow();
        }
        .description {
            font-size: $fontSizeSmall;
            margin: 0 20px;
            padding: 10px 0;
            border-top: 1px solid $grayLighter;
            border-bottom: 1px solid $grayLighter;
        }
    }
    .place {
        width: 100%;
        background-color: $white;
        img { width: 100%; }
        .place-detail {
            @include flex-box($orient: horizontal);
            .address {
                padding: 20px;
            }
            .distance {
                padding: 10px;
                font-size: 40px;
                line-height: 40px;
                font-family: "OpenSansCondensedLight", sans-serif;
            }
        }
    }
    .attendees {
        position: absolute;
        top: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.1) url("../img/group-icon.png") no-repeat center;
        @include background-size(44px 44px);
        @include border-radius(25px);
        @include square(50px);
        @include flex-box($orient: horizontal, $pack: end);
        .attendee-item {
            @include border-radius(50%);
            @include square(46px);
            overflow: hidden;
            visibility: hidden;
            opacity: 0;
            margin: 2px 5px;
            @include transition(all .5s ease-in-out);
        }
        @include transition(all .5s ease-in-out .1s);
        &.expand {
            width: 100%;
            @include border-radius(0);
            background: rgba(0, 0, 0, 0.3);
            .attendee-item {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .chat-panel {
        position: absolute;
        z-index: 9999;
        top: 0;
        width: 100%;
        header {
            height: 50px;
            padding: 5px;
            text-align: center;
            background-color: $grayLight;
        }
        height: 1000px;
        background-color: rgba($grayLighter, 0.9);
        -webkit-transition: -webkit-transform .5s ease-in-out;
        &.open {
            -webkit-transform: translate3d(0, 50px, 0) !important;
        }
    }
}
