.story-item-fullscreen {
    @include flex-box($orient: vertical);
    background-color: $white;
    position: relative;
    width: 320px;
    height: 100%;
    h1, p {
        @include text-overflow();
    }
    .cover {
        @include flexible($orient: vertical);
    }
    .summary {
        @include size(200px, 100%);
        position: relative;
        color: white;
        @extend %type-indicator;
        .title {
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 50px;
            padding: 5px;
            position: absolute;
            top: -50px;
        }
        .date-time {
            font-size: 50px;
            padding: 15px 10px;
            line-height: 1;
            .month {
                font-family: ostrich;
                font-size: 60px;
                text-transform: uppercase;
                margin-bottom: -10px;
             }
            .year {
                font-family: ostrich;
                font-size: 40px;
                line-height: 40px;
                letter-spacing: 2px;
             }
            .day {
                font-size: 16px;
                text-transform: uppercase;
             }
            .date {
                font-family: CaviarDreams;
                font-size: 150px;
                line-height: 130px;
            }
        }
    }
}

#view-home {
    .scroll-inner {
        height: 100%;
        width: -webkit-max-content;
        @include flex-box($orient: horizontal, $pack: start);
        position: relative;
    }
    .navbar {
        position: absolute;
        bottom: 0;
        background-color: transparent;
        color: $white;
        &, .nav-btn, .navbar-text { border-color: rgba($white, 0); }
        .nav-btn.active {
            color: rgba($white, 0.5);
            background-color: rgba($white, 0);
        }
    }
}
