.tab-content {
    position: relative;
    .tab-pane {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        display: none;
        @include transition(all .35s ease-in-out);
        &.active {
            opacity: 1;
            visibility: visible;
            display: block;
        }
    }
}

#view-profile {
    .summary {
        .avatar-username {
            img {
                margin: 5px;
                @include square(50px);
                @include border-radius(5px);
                display: inline-block;
            }
            h1 {
                display: inline-block;
            }
            background-color: $white;
        }
        .navbar {
            border-top: 1px solid $grayLighter;
            background-color: $white;
            color: $gray;
        }
        .nav-btn { border-color: $grayLighter; }
        width: 90%;
        margin-top: 10px;
        @include border-radius(10px);
        border: 1px solid $grayLighter;
        overflow: hidden;
    }
    .tab-content {
        width: 90%;
        margin-top: 10px;
    }
    .tab-pane {
        @include clearfix();
    }
    .story-item, .coupon-item {
        float: left;
        background-color: $white;
        @include border-radius(10px);
        border: 1px solid $grayLighter;
        width: 47.5%;
        margin-bottom: 10px;
        &:nth-child(2n+1) {
            margin-right: 5%;
        }
        padding: 5px;
        p {
            margin-top: 5px;
            padding: 3px;
            border-top: 1px solid $grayLighter;
            @include text-overflow();
        }
    }
    .coupon-item img {
        @include border-top-left-radius(10px);
        @include border-top-right-radius(10px);
        overflow: hidden;
        border: 1px solid $grayLighter;
    }
    .story-item {
        .image-stack {
            @include flex-box($orient: horizontal);
            border-top: 1px solid $grayLight;
            .stack-item {
                @include flexible($orient: flexible);
                height: 30px;
                border-right: 1px solid $grayLight;
                &:last-child { border-right: none; }
            }
            img { @include square(100%); }
        }
        img.cover {
            @include size(90px, 100%);
            @include border-top-left-radius(10px);
            @include border-top-right-radius(10px);
        }
    }
    .badge-item {
        float: left;
        width: 30%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 5%;
        &:nth-child(3n) { margin-right: 0; }
        p { margin-top: 5px; }
    }
}
