<img class="cover" src="{{ coverphoto }}">
<div class="image-stack">
    {{ #photos }}
    <div class="stack-item"><img src="{{ . }}"></div>
    {{ /photos }}
</div>
<p class="text-center">{{ title }}</p>
