<div class="cover">
    <img src="{{ coverphoto }}">
</div>
<div class="summary" data-type="{{ type }}">
    <div class="title">
        <h1>{{ title }}</h1>
        <p><small>{{ place.name }}</small></p>
    </div>
    <div class="date-time clearfix">
        <div class="pull-left">
            <p class="month">{{ time.month }}</p>
            <p class="year">{{ time.year }}</p>
            <p class="day">{{ time.day }}</p>
            <p class="day">{{ time.time }}</p>
        </div>
        <div class="pull-right">
            <p class="date">{{ time.date }}</p>
        </div>
    </div>
</div>
