//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

// Core
input[type="submit"], button, .btn {
	display: block;
	cursor: pointer;

	min-height: 44px;
	padding: 9px;
	margin-bottom: 0; // For input.btn

	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	text-align: center;
	vertical-align: middle;
	color: $grayDark;
	background-color: $white;
	@include clear-tap-highlight();

	border: 1px solid $btnBorder;
	@include border-radius($baseBorderRadius);

	&.btn-inverse,
	&:active, &.pressed {
		color: $white;
		background-color: $gray;
		outline: 0;
	}
	
	&.btn-inverse:active, &.btn-inverse.pressed {
		color: $grayDark;
		background-color: $white;
	}
	
	&.btn-block-level {
		display: block;
		width: 100%;
	}
}

.button-group {
	@include flex-box($orient: horizontal);
	input[type="submit"], button, .btn {
		@include flexible($orient: horizontal);
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}
}
