#dialog-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(#333, 0.1);
	z-index: $zindexModal - 1;
}

.dialog {
	@include animation(fadein .35s ease-in-out);
	position: absolute;
	z-index: $zindexModal;
	top: 65px;
	left: 50%;
	width: 250px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	@include border-radius(10px);
	overflow: hidden;
	margin-left: -125px;
	background-color: $white;

	> header {
		width: auto;
		height: 40px;
		padding: 10px;
		background-color: $gray;
		color: $white;
		text-align: center;
		h1 { @include text-overflow(); }
	}

	.button-group {
        padding: 5px;
    }
	.content {
		min-height: 120px;
		padding: 5px;
		img { @include square(240px); }
		p {
			margin: 10px 0 0;
			font-size: $fontSizeMini;
		}
	}
}
