
//@include keyframes-transform(slideouttoleft, translate3d(0, 0, 0), translate3d(-100%, 0, 0));
//@include keyframes-transform(slideinfromright, translate3d(100%, 0, 0), translate3d(0, 0, 0));
//@include keyframes-transform(slideinfromleft, translate3d(-100%, 0, 0), translate3d(0, 0, 0));

@include keyframes(slideouttoleft) {
	from { @include translate3d(0, 0, 0); visibility: visible; }
	to { @include translate3d(-100%, 0, 0); visibility: visible; }
}

@include keyframes(slideinfromright) {
	from { @include translate3d(100%, 0, 0); visibility: visible; }
	to { @include translate3d(0, 0, 0); visibility: visible; }
}

@include keyframes(slideinfromleft) {
	from { @include translate3d(-100%, 0, 0); visibility: hidden; }
	to { @include translate3d(0, 0, 0); visibility: visible; }
}

@include keyframes(flipinfromleft) {
	from { -webkit-transform: rotateY(180deg) scale(.65); opacity: 0; }
	50% { opacity: .4; }
	to { -webkit-transform: rotateY(0) scale(1); opacity: 1; }
}

@include keyframes(flipouttoleft) {
	from { -webkit-transform: rotateY(0) scale(1); opacity: 1; }
	50% { opacity: .4; }
	to { -webkit-transform: rotateY(-180deg) scale(.65); opacity: 0; }
}

@include keyframes(jump) {
	from { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1.5); }
	to { -webkit-transform: scale(1); }
}

@include keyframes(fadein) {
	from { opacity: 0; visibility: hidden; }
	to { opacity: 1; visibility: visible; }
}

@include keyframes(fadeout) {
	from { opacity: 1; visibility: visible; }
	to { opacity: 0; visibility: hidden; }
}

@include keyframes(loading-sprite) {
	0% { background-position: 0 0; }
	8.33% { background-position: 0 -20px; }
	16.67% { background-position: 0 -40px; }
	25% { background-position: 0 -60px; }
	33.33% { background-position: 0 -80px; }
	41.67% { background-position: 0 -100px; }
	50% { background-position: 0 -120px; }
	58.33% { background-position: 0 -140px; }
	66.67% { background-position: 0 -160px; }
	75% { background-position: 0 -180px; }
	83.33% { background-position: 0 -200px; }
	91.67% { background-position: 0 -220px; }
	100% { background-position: 0 0; }
}
