$view-max-width: 320px;
.view, .view > header, #apploader {
	max-width: $view-max-width;
}

html {
	height: 100%;
	&.iOS7 {
	   padding-top: 20px;
	}
}

body {
	height: 100%;
	overflow: hidden;
	background-color: $bodyBackground;
	position: relative;
}

.view {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
	@include flex-box($orient: vertical);
	&.view-next, &.view-prev, &.view-hidden {
        pointer-events: none;
    }
	& > .wrapper {
		@include flex-box($orient: vertical);
		@include size(100%, 100%);
		@include flexible($orient: vertical);
		background-color: $bodyBackground;
		position: relative;
		&.rendering {
		    opacity: 0;
		}
		@include backface-visibility(hidden);
		@include translate3d(0, 0, 0);
	}
    &.view-hidden > .wrapper {
        visibility: hidden;
        @include translate3d(100%, 0, 0);
    }
    &.view-next > .wrapper {
        @include animation(slideinfromright $pageSwitchDuration ease-in-out);
        -webkit-animation-fill-mode: forwards;
    }
    &.view-prev > .wrapper {
        @include animation(slideouttoleft $pageSwitchDuration ease-in-out);
        -webkit-animation-fill-mode: forwards;
    }
}

.view > .wrapper > .scroll {
	@include flexible($orient: vertical);
	position: relative;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	&.iscroll {
		overflow: hidden;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	& > .scroll-inner {
		background-color: $bodyBackground;
		width: 100%;
		@include flex-box($orient: vertical, $pack: start);
		position: relative;
	}
}

#apploader {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
    @include transition(opacity 1s ease-in-out);
}

#apploader .loader {
	@include flex-box($orient: vertical);
	position: absolute;
	top: 50%;
	left: 50%;
	width: 140px;
	margin: -30px -70px;
	min-height: 60px;
	padding: 10px;
	@include border-radius(5px);
	background-color: rgba(0, 0, 0, 0.8);
	pointer-events: none;
	.ajax-error {
		font-size: $fontSizeMini;
		text-align: center;
		color: $white;
	}
	.loading-sprite {
		@include user-select(none);
		pointer-events: none;
		height: 20px;
		width: 20px;
		margin: 10px 0;
		font-size: 16px;
		color: #666;
		line-height: 20px;
		color: #666;
		text-shadow: 0 1px #fff;
		background: transparent url($activityIndicator) no-repeat center;
		background-size: 20px auto;
		@include animation(loading-sprite 1s step-start infinite);
	}
}
