%thumbnail-list {
	width: 100%;
}

%thumbnail-list-item {
    @include flex-box($orient:horizontal, $pack: start);
	//@include border(0 0 1px 0, solid, $grayLighter);
	background-color: $white;
	@include size(90px, 100%);
	margin-bottom: 10px;
	padding-left: 99px;
	overflow: hidden;
	position: relative;
	img {
		position: absolute;
		top: 5px;
		left: 5px;
		@include square(79px);
	}
	h1 {
		@include text-overflow();
		margin-bottom: 5px;
	}
	p {
		@include text-overflow();
		font-size: $fontSizeSmall;
	}
}

.thumbnail-list { @extend %thumbnail-list; }
.thumbnail-list-item { @extend %thumbnail-list-item; }

.card-list { @extend %thumbnail-list; }
.card-list-item {
	@extend %thumbnail-list-item;
}

.page-nav {
	width: 100%;
	padding: 10px;
}

%type-indicator {
    background-color: #9B59B6;
    &[data-type="1"] { background-color: #1ABC9C; }
    &[data-type="2"] { background-color: #2ECC71; }
    &[data-type="3"] { background-color: #3498DB; }
    &[data-type="4"] { background-color: #9B59B6; }
    &[data-type="5"] { background-color: #34495E; }
    &[data-type="6"] { background-color: #F1C40F; }
    &[data-type="7"] { background-color: #E67E22; }
    &[data-type="8"] { background-color: #E74C3C; }
    &[data-type="9"] { background-color: #16A085; }
    &[data-type="10"] { background-color: #27AE60; }
    &[data-type="11"] { background-color: #2980B9; }
    &[data-type="12"] { background-color: #8E44AD; }
    &[data-type="13"] { background-color: #2C3E50; }
    &[data-type="14"] { background-color: #F39C12; }
    &[data-type="15"] { background-color: #D35400; }
    &[data-type="16"] { background-color: #C0392B; }
}
