
.navbar {
    position: relative;
    @include flex-box($orient: horizontal);
    height: $navbarHeight;
    width: 100%;
    background-color: $grayLighter;
    color: $grayLight;
    .nav-btn, .navbar-text {
        @include flexible($orient: horizontal);
        @include flex-box($orient: vertical);
        height: 100%;
        border-right: 1px solid $grayLight;
        &:last-child { border-right: none; }
    }
    .nav-btn {
        .fa { font-size: 30px; }
        &.active {
            color: $white;
            background-color: $grayLight;
        }
        &.nav-btn-left, &.nav-btn-right {
            @include flexible($orient: horizontal, $flex: 0);
            width: 50px;
        }
    }
    .navbar-text {
        font-size: $fontSizeLarge;
        &.active {
            font-size: $fontSizeLarge + 2px;
        }
    }
    .view > & {
        position: relative;
        border-top: 1px solid $grayLight;
        border-bottom: 1px solid $grayLight;
        @include transition(all $pageSwitchDuration ease-in-out);
    }
    .view.view-hidden > & {
        opacity: 0;
        visibility: hidden;
    }
}

.navbar .nav-btn.nav-btn-camera.active { background-color: $gray; }
.nav-btn-camera .camera-options {
    border-top: 1px solid $grayLight;
    position: absolute;
    top: -101px;
    left: 0;
    height: 100px;
    background-color: $grayDark;
    @include transition(all .35s ease-in-out);
    &.close {
        visibility: hidden;
        opacity: 0;
        .nav-btn {
            @include square(0);
        }
    }
    .nav-btn {
        @include flexible($flex: 0);
        background-color: $gray;
        border: 7px solid lighten($grayLight, 5%);
        color: lighten($grayLight, 5%);
        @include border-radius(50%);
        @include square(80px);
        margin: 10px;
        @include transition(all .35s ease-in-out);
    }
}

.filter-bar {
	@include flex-box($orient: horizontal);
	@include size(50px, 100%);
	background-color: $gray;
	> .filter {
		@include flexible($orient: horizontal);
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: $fontSizeSmall;
		color: $white;
		&:active, &.active, &.selected { background-color: $grayDark; }
	}
	
	> .collapsible {
		position: relative;
		& > .collapsible-inner {
			//@include scrollable(5px);
			overflow: hidden;
			position: absolute;
			z-index: $zindexPopover;
			top: 50px;
			height: 200px;
			visibility: hidden;
			background-color: $gray;
			color: $white;
			width: 100%;
		}
		&.expand > .collapsible-inner {
			visibility: visible;
		}
		&:active, &.active, &.selected { background-color: transparent; }
	}
	
	.spliter {
		width: 0;
		height: 30px;
		border-right: 1px solid darken($gray, 5%);
		border-left: 1px solid lighten($gray, 5%);
		background-color: $gray;
		margin: 12px 0 8px;
	}
}
