
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

th, td {
	padding: 1px;
	font-size: $fontSizeSmall;
	line-height: $baseLineHeight;
	text-align: left;
	vertical-align: top;
	//border-top: 1px solid $tableBorder;
	color: $gray;
}

th {
	font-weight: normal;
	font-size: $fontSizeSmall;
	color: $grayLight;
	padding-top: 6px;
}
