html {
	font-size: 100%;
}

body {
	font-family: $baseFontFamily;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	color: $textColor;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
}

small   { font-size: 85%; }
strong  { font-weight: bold; }
em      { font-style: italic; }
cite    { font-style: normal; }

h1 {
	font-size: $fontSizeLarge;
}

h2 {
	font-size: $baseFontSize;
}

h3 {
	font-size: $fontSizeSmall;
}

h4, h5, h6 {
	font-size: $fontSizeMini;
}

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
