
// Quick floats
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}

// Toggling content
.hide {
	display: none;
}
.show {
	display: block;
}

// Visibility
.invisible {
    opacity: 0;
	visibility: hidden;
}

// For Affix plugin
.affix {
	position: fixed;
}

// Clearing floats
.clearfix {
	@include clearfix();
}

// Accessible yet invisible text
.hide-text {
	@include hide-text();
}

/* Prevent callout */

.nocallout {
	-webkit-touch-callout: none;
}

.pressed {
	//background-color: rgba(0, 0, 0, 0.7);
	background-color: transparent;
}

/* A hack for HTML5 contenteditable attribute on mobile */
textarea[contenteditable] {
	-webkit-appearance: none;
}

/* A workaround for S60 3.x and 5.0 devices which do not animated gif images if they have been set as display: none */
.gifhidden {
	position: absolute;
	left: -100%;
}

/*
 * Image replacement
 */
.ir {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 0;
	direction: ltr;
	display: block;
	overflow: hidden;
	text-align: left;
	text-indent: -999em;
}

.ir br {
	display: none;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
	display: none !important;
	visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
