// Global values
// --------------------------------------------------


// Colors
// -------------------------

$grayDarker:            lighten(#000, 13.5%); // #222
$grayDark:              lighten(#000, 20%);   // #333
$gray:                  lighten(#000, 33.5%); // #555
$grayLight:             lighten(#000, 60%);   // #999
$grayLighter:           lighten(#000, 93.5%); // #eee
$white:                 #FFF !default;


// Scaffolding
// -------------------------
$bodyBackground:        lighten($grayLighter, 3%) !default;
$textColor:             $grayDarker !default;


// Links
// -------------------------
$linkColor:             $grayDark !default;
$linkColorHover:        $linkColor !default;


// Typography
// -------------------------
@font-face {
    font-family: 'OpenSansCondensedLight';
    src: url('../fonts/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-CondLight-webfont.woff') format('woff'),
         url('../fonts/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-CondLight-webfont.svg#OpenSansCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CaviarDreams';
    src: url('../fonts/CaviarDreams.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ostrich';
    src: url('../fonts/ostrich-rounded.ttf');
    font-weight: normal;
    font-style: normal;
}

$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", sans-serif !default;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif !default;
$monoFontFamily:        Monaco, Menlo, Consolas, "Courier New", monospace !default;

$baseFontSize:          14px !default;
$baseFontFamily:        $sansFontFamily !default;
$baseLineHeight:        20px !default;
$altFontFamily:         $serifFontFamily !default;

$headingsFontFamily:    inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    normal !default;  // instead of browser default, bold
$headingsColor:         inherit !default; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 16px font-size and 26px line-height

$fontSizeLarge:         18px !default;
$fontSizeSmall:         12px !default;
$fontSizeMini:          10px !default;

$paddingLarge:          9px 17px !default;
$paddingSmall:          2px 10px !default;
$paddingMini:           0px 6px !default;

$baseBorderRadius:      5px !default;
$borderRadiusLarge:     10px !default;
$borderRadiusSmall:     3px !default;


// Buttons
// -------------------------
$btnBackground:                 $white !default;
$btnBorder:                     $gray  !default;
$btnInverseBackground:          $gray  !default;


// Forms
// -------------------------
$inputBackground:               $white !default;
$inputBorder:                   $gray !default;
$inputBorderRadius:             $baseBorderRadius !default;
$inputDisabledBackground:       $grayLight !default;
$formActionsBackground:         $gray !default;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Navbar
// -------------------------
$navbarHeight:			44px !default;
$bannerHeight:			65px !default;
$navbarPadding:			17px !default;


// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000 !default;
$zindexPopover:           1010 !default;
$zindexTooltip:           1030 !default;
$zindexFixedNavbar:       1030 !default;
$zindexModalBackdrop:     1040 !default;
$zindexModal:             1050 !default;


// Animations
// -------------------------
$pageSwitchDuration:      .5s !default;


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight !default;


// Images Paths
// -------------------------
$activityIndicator:       "../img/activity-indicator-white.png" !default;
$bannerImagePath:         "../img/navbar@2x.png" !default;
$gradientShadowPath:      "../img/gradient-shadow@2x.png" !default;
$gradientShadowPathR:     "../img/gradient-shadow-r@2x.png" !default;
$blackShadowPath:         "../img/black-shadow@2x.png" !default;
$blackShadowPathR:        "../img/black-shadow-r@2x.png" !default;
$iconSpritePath:          "../img/icons@2x.png" !default;
$bookButtonPath:          "../img/bookbutton@2x.png" !default;
$tagImagePath:            "../img/label@2x.png" !default;
$logoImagePath:           "../img/logo@2x.png" !default;
$backgroundTopPath:       "../img/bg-top@2x.png" !default;
$backgroundBottomPath:    "../img/bg-bottom@2x.png" !default;
$spotLightPath:           "../img/spotLight@2x.png" !default;
